.about__image
  width: 200px
  max-width: 200px
  max-height: 200px
  box-shadow: 12px 12px 2px $base-body-color
  border-radius: 0.50em
  overflow: hidden

.about__wrapper
  margin: auto
  padding: 0 1.2em
  max-width: 450px

.about__top-title
  margin-top: 1.5em
  font-size: 2em

.about__top-text, .about__text
  font-size: 1.3em

.about__text
  text-align: left
  margin-top: 48px

@media screen and (min-width: 900px)
  .about__image
    float: left
  
  .about__wrapper
    margin: 0
    max-width: 600px

  .about__top-text, .about__top-title
    padding-left: 39%
    text-align: right

  .about__text
    margin-top: 3.5em