.container__about
  display: flex

.container__showcase
  display: flex

.container__footer, .container__footer-pop
  display: flex

@media screen and (max-width: 899px)
  .container__footer-pop
    box-sizing: border-box
    height: 100%
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1
    transform: translate3d(0, 100%, 0)
    transition: transform 0.3s ease-in-out
    padding: 20px
    background-color: $white-bg-color

    .container.is-open &
      transform: translate3d(0, 0, 0)

  .container__footer
    display: none

  .container__footer, container__footer-pop
    padding: 20px

  .container__about, .container__showcase
    padding: 0 20px 0

  .container__body
    padding: 20px 0

@media screen and (min-width: 900px)
  .container
    display: flex
    padding: 0

  .container__body
    flex: 1

  .container__about
    padding-top: 40px

  .container__footer-pop
    display: none

  .container__body--white
    background-color: white
