.experience__wrapper
  padding: 0 1.2em
  max-width: 450px

.experience__header
  margin-top: 1.5em
  font-size: 2em

.experience__subheader
  font-size: 1.3em
  cursor: pointer
  padding-left: 3px

.experience__header, .experience__subheader
  text-align: left

.experience__skills
  padding: 0 0 1em 1em

.experience__skill-header
  font-weight: 700
  padding: 1.2em 0 0.2em

@media screen and (min-width: 900px)
  .experience__wrapper
    margin: 0
    max-width: 600px
